* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header{
    background-color: black;
    color:#fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border: 0.01px solid #fff;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
}

header a{
    color:#fff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header a:hover{
    color:rgb(55, 55, 248);
}

h1{
    padding: 15px;
}

main{
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

p{
    padding: 15px;
}

.logo{
    height: 20px;
    weight: 20px;
}

footer{
    background-color: black;
    padding: 20px;
}

.login{
    height: 30px;
    width: 70px;
}

button{
    background-color:rgb(3, 3, 116);
    color:#fff;
    font-size: 16px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(70, 70, 236);
}